<section class="big">

<img src="about_me.jpg" alt="me chilling">

    <div class = "space about_me">
<p class="darken">My name is Dovid Rabinowitz. I am 20 years old. My favorite color is red, especially a dark red. I like to read read books about history and philosophy. I started looking into coding about 2 years ago. At that time, I was busy getting my rabinacal degree and did not have time to learn coding properly. During my free time i would try learn some new code and play around with what i knew. I used to use free code camp and umdemy for courses. Now I am taking Adaleg's bootcamp for full stack development. Since I started the course I feel the coding concepts making more sence and my confidence increasing to work through problems. My goal is to be working as a developer by next year.</p>
        <div class = "space">
<h5>If you would like to see some of my projects or just know about me here are the links</h5>
<p class="halfspace"><a href="https://github.com/s770am">Github</a> | <a href="https://www.linkedin.com/">Linkedin</a>
</p>

        </div>
    </div>
</section>