<img src="public/home_img.jpg" alt="me looking at camera">
<section>
<div id="home about">
<h2>Welcome To My Page </h2>
<p>
My name is Dovid Rabinowitz this is my first website. The website is all about me and my coding abilities. 
</p>
<p>I hope you enjoy!!</p>
</div>
<div id="contact_card">
<h2>My Contact Info Is:</h2>
<p>name: Dovid Rabinowitz</p>
<p>email: s770am@gmail.com</p>
<p>phone number 7086558251</p>
</div>
</section>