<section class="big">
<img src="skills_img.jpg" alt="me thinking">

<div class = "space">
<h2>Here are some of my differnt skills</h2>
<p >Cooking :  &#10017 &#10017 &#10017 &#10017</p>
<p >Ruby :     &#10017 &#10017 &#10017</p>
<p >SQL :      &#10017 &#10017</p>
<p >Java :     &#10017 &#10017</p>
<p >JavaScript &#10017</p>
<p >InDesign   &#10017 &#10017</p>
<p >Chess      &#10017 &#10017 &#10017</p>
</div>
</section>