<section>
<img src="skills_img.jpg" alt="me thinking">

<div class = "img_para skills">
<h2>Here are some of my differnt skills</h2>
<p class= "skills">Cooking : &#10017 &#10017 &#10017 &#10017</p>
<p class= "skills">Ruby :  &#10017 &#10017 &#10017</p>
<p class= "skills">SQL : &#10017 &#10017</p>
<p class= "skills">Java : &#10017 &#10017</p>
<p class= "skills">JavaScript &#10017</p>
<p class= "skills">InDesign &#10017 &#10017</p>
<p class= "skills">Chess &#10017 &#10017 &#10017</p>
</div>
</section>