*{
    padding: 0;
    margin: 0;
    border: 0;
}


body{
    background-color:rgb(192, 1, 192);

    
}
header{
    width: 100vw;
    max-width:100%;
    background-color: deeppink ;
}
ul{
    display: flex;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    height: 3em;
    font-size: 3em;
}
li{
    padding-left: 1em;
}
a{
text-decoration: none;
color: honeydew;
}
footer {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 20, 145, 0.473);
    color:  honeydew;
    font-size: 4em;
    height:2em;
    width: 100vw;
    max-width:100%;
}
h6 {
    align-self: center;
}
img{
    padding: 1em;
    max-width: 50vw;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.big {
    display: flex;
    
}

.space{
    padding: 1em;
}

.halfspace{
    padding: 0.5em;
}

.darken{
    font-weight: 450;
}

#home_about{
    max-width: 35vw;
}